---
import BaseHead from "../layouts/BaseHead.astro";
---

<html lang="en">
  <head>
    <BaseHead
      description="A starter template for creating a blog with Astro."
      title="Astro Content Template"
    />
  </head>
  <body
    class="antialiased text-slate-500 dark:text-slate-400 bg-white dark:bg-slate-900"
  >
    <header class="px-2 py-4">
      <h1>Website Header</h1>
    </header>
    <main class="text-center px-8 mt-20 sm:mt-32 md:mt-40">
      <h2>Website Description - lorem ipsum dolor sit amet</h2>
    </main>
  </body>
</html>
